<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077938321371-e1mra0mpspdt4dsnr3n0qe9i04ed3ofd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077938321371-e1mra0mpspdt4dsnr3n0qe9i04ed3ofd</string>
	<key>API_KEY</key>
	<string>AIzaSyASba7sfDtkxHq64NPkirZWFo7NEMuwrcA</string>
	<key>GCM_SENDER_ID</key>
	<string>1077938321371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rhmobile</string>
	<key>PROJECT_ID</key>
	<string>minhapm-5ff71</string>
	<key>STORAGE_BUCKET</key>
	<string>minhapm-5ff71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077938321371:ios:edc8c9cdbb1d68540ed9fe</string>
</dict>
</plist>